

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */










  .navbar {
    position: fixed;
    top:0px; left:0px; right:0px;
	z-index:999;
	width:100%;
	background-color:white; 
	box-shadow: 0px 10px 5px #F0F0F5; 
	-webkit-box-shadow: 0px 6px 64px -19px rgba(119,125,118,1);
	-moz-box-shadow: 0px 6px 64px -19px rgba(119,125,118,1);
	box-shadow: 0px 6px 64px -19px rgba(119,125,118,1); }

.logo-spot {
	margin-top:20px;
	margin-left:30px;
	padding-bottom:10px; 
	padding-left:0px; 
	position:relative; 
	float:left; }
	
.logo {
	max-height:70px; }
	
.menu { 
	position:relative; 
	bottom:-29px; 
	right:-10%; }
ul { 
	font-family:'Open Sans'; }
	
.menulink { 
	float:left; 
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	padding-bottom:10px;
	text-decoration:none;
	position:relative;
	color:black; }

.menulink:after { 
	position:absolute;
	left:0;
	bottom:-10px;
	width:0;
	height:5px;
	background-color:#B9D32A;
	content:"";
	transition:width 0.2s
	/*border-bottom:3px solid #ceea2f;*/ }
	
.menulink:hover { 
	color:#B9D32A; 
	/*border-bottom:3px solid #ceea2f;*/ }

.menulink:hover:after { 
	width:100%;
	/*border-bottom:3px solid #ceea2f;*/ }


/* GREEN COLOR #ceea2f */

.back {
	background-color:#F8FBF8; 
	background: -webkit-linear-gradient(#F8FBF8, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F8FBF8, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F8FBF8, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#F8FBF8, white); /* Standard syntax */}





/*================================================================*\
\*=================THE  MOBILE ONE!===============================*/
#mobilemenu {
	display:none; }

#mobilemenu img {
	height:55px; }

#topbar {
	background:white;
	padding: 10px 0 10px 0;
	text-align:center;
	height:60px;
	overflow:hidden;
	font-family:'Open Sans';
	-webkit-transition: height 0.5s linear;
	-moz-transition: height 0.5s linear;
	transition: height 0.5s linear;
	box-shadow: 0px 10px 5px #F0F0F5; 
	-webkit-box-shadow: 0px 6px 64px -19px rgba(119,125,118,1);
	-moz-box-shadow: 0px 6px 64px -19px rgba(119,125,118,1);
	box-shadow: 0px 6px 64px -19px rgba(119,125,118,1); } 
	
#topbar.open {
	height:130px; }
	
#topbar a {
	font-size:1em;
	line-height:2em;
	font-weight:400;
	text-decoration:none;
	font-weight:bold; }

	 
#topbar button {
	border:1px solid black; 
	font-size:1em;
	color:black;
	background-color:white;
	font-weight:300;
	border-radius:10px; 
	padding:10px;
	padding-top:4px;
	padding-bottom:7px;
	margin:0; 
	width:80px;
	height:40px;
	float:right;
	position:relative;
	right:35%;
	top:10px; }

#topbar button:hover {
	border-color:#B9D32A;
	color:#B9D32A; }

#topbar img {
	position:relative;
	float:left;
	left:35%;
	top:0px; }

#tophiddenbar {
	clear:both;
	display:block;
	width:100%;
	background:white;
	padding:8px 0;
	font-size:1.5em;
	text-align:center; }

#tophiddenbar a {
	font-size:.6em;
	margin-left:auto;
	margin-right:auto;
	text-decoration:none;
	width:20%;
	font-family:'Open Sans';
	line-height:1em;
	color:black;
	padding-top:30px;
	padding-bottom:10px;
	float:left;
	text-align:center; }

#tophiddenbar a:hover {
	color:#B9D32A;
	font-weight:bold; }
























/* group one-About */


#group1 { 
    clear:both;
	z-index:1;
	position: relative;
    height:90%; 
	width:100%; }

#group1 .innards {
	position: relative;
    left:5%;
	max-width:95%; 
	top:150px;
	padding-top:50px;
	padding-bottom:20%; }
  
  
  


h1 {
	width:70%;
	font-family:'Open Sans';
	font-weight:bold; 
	font-size:2em;
	color:#ff9933;
	line-height:1.4em; 
	padding-bottom:30px; }

.about-photos {
	float:left;
	width:45%; }
	
.about-photos img {
	width:45%; 
	padding-top:6px;
	padding-right:3%; }
.firstpar {
	font-family:'Open Sans'; 
	line-height:1.75em;
	padding-bottom:1.5em; }
.secondpar {
	font-family:'Open Sans'; 
	line-height:1.75em; 
	padding-bottom:1.5em; }
span {
	font-family:'Open Sans';
	font-weight:bold; 
	line-height:1.75em; 
	padding-bottom:1.5em; }
	
.about-info { 
	float:left; 
	width: 40%; 
	padding-left:5%; 
	padding-right:10%;}
	
	


/*group 2 customers*/
	

#group2 {
	clear:both; 
	padding-top:80px; 
	overflow:hidden;
	padding-bottom:200px; }
	
.custimg {
	width:90%; }

#group2 img {
	max-height:50px;
	float:left;
	padding-right:60px; 
	padding-bottom:70px; }

#group2 h1 {
	clear:both;
	font-family:'Open Sans';
	font-weight:bold; 
	font-size:2em;
	color:#ff9933;
	line-height:1.4em; 
	padding-bottom:15px; }

#group2 p {
	font-family:'Open Sans'; 
	line-height:1.75em; 
	padding-bottom:70px; 
	width:80%; }





.footer {
	clear:both;
	position:relative;
	background-color:black; 
	height:200px; }
.footer p {
	font-family:'Open Sans'; 
	color:white;
	font-size:.8em;
	line-height:2em; 
	padding-top:15px; }
.adress {
	float:left;
	margin-left:5%; 
	width:50%; }
.copywrite {
	float:right; 
	width:30%; }
.copy p {
	position:relative;
	bottom:5px; 
	margin-left:auto; 
	margin-right:auto; 
	text-align:center; 
	width: 100%; }
  
  
  
  
  
  
  
  
  
  



  

@media handheld, screen and (max-width:840px) {
	.navbar {
		display:none; }
	#mobilemenu {
		display:block; }
	.about-photos {
		clear:both;
		width:95%; }
	.about-info { 
		clear:both; 
		width: 85%; 
		padding-top:40px; 
		padding-right:10%;
		padding-left:0; }
	#group1 .innards { 
		top:50px;
		padding-top:50px;
		padding-bottom:20%; }
	
	#group2 img {
	max-height:40px;
	padding-right:50px; 
	padding-bottom:60px; }
		    }
			


@media handheld, screen and (max-width:644px) {
	.navbar {
		display:none; }
		
	#mobilemenu {
		display:block; }
		
	.about-photos {
		clear:both;
		width:95%; }
	
		
	.about-info { 
		clear:both; 
		width: 85%; 
		padding-top:40px; 
		padding-right:10%;
		padding-left:0; }
		
	#group1 .innards { 
		top:50px;
		padding-top:50px;
		padding-bottom:20%; }
		    
	#mobilemenu img {
		height:55px;
		left:10%; }
		
	#topbar button {
		right:10%;
		top:10px; }
	
	#group2 img {
		max-height:25px;
		padding-right:35px; 
		padding-bottom:45px; }
	
	#tophiddenbar li {
		margin-right:auto;
		margin-left:auto;
		text-align:center; }
			
	#tophiddenbar a {
	font-size:.7em;
	clear:both;
	margin-left:36%;
	margin-right:36%;
	text-align:center;
	width:30%;
	padding-top:15px;
	padding-bottom:10px; }

	#tophiddenbar a:hover {
		color:#B9D32A;
		font-weight:bold; }
	
	#topbar.open {
		height:265px; }
	
	#group1 .innards {
	top:30px; }
	
	}