

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */












/*body {background-color:black; color:white;}*/


/*#navbar {max-width:20px; position:relative; top:0px; padding }*/

#burger li ul {display:none; position:absolute; bottom:100px; background-color:white; }
#burger li:hover ul {display:block; }
#burger li {font-family:open sans; font-size:.9em; float:left; 
	display:block; position:relative; 
	margin-right:auto; margin-left:auto; padding:20px; }


 
a { text-decoration: none; color: black; 
	clear: both; }
p { font-family:helvetica; padding-top:20px; line-height:1.4em;
	clear: both; }
h1 { font-family:Bebas Neue; font-weight: bold;
	color: white;
	text-align: left; font-size: 7em; 
	width: 50%;
	padding-left: 15%; 
	position: relative; top: 50%; transform: translateY(-50%);
	clear: both; }

h2 { font-family:Bebas Neue; font-weight: bold;
	color: #e60000;
	text-align: left; font-size: 7em; 
	width: 50%;
	padding-left: 15%; padding-top: 20%;
	clear: both; }

h3 { font-family:Bebas Neue; font-weight: bold;
	color: lightgrey;
	text-align: left; font-size: 4em; 
	width: 50%;
	padding-left: 15%;
	padding-bottom: 20px; padding-top: 20px;
	clear: both; }
h4 { font-family:Bebas Neue; font-weight: bold;
	color: #e60000;
	font-size: 2em;
	width: 50%;
	padding-left: 20%; padding-bottom: 8px;
	clear: both; }


p { font-family:helvetica; line-height:1.4em;
	padding-left: 15%; padding-top:20px; padding-bottom: 60px;
	width: 60%;
	clear: both; }

 ul { padding-left: 15%; padding-bottom: 60px;
 	clear: both; }
li { font-family:helvetica; line-height:1.4em;
	font-size: 13px; color: black;
	padding-top:5px; padding-bottom: 5px;
	clear: both; }


article { width:80%; 
	padding-bottom:10px; padding-right:10%; padding-bottom: 10px; }
div { padding-left: 15%; }
img { height: 225px; float: left;
	padding-right: 20px; padding-bottom: 60px; }



	
#one { background-color: #e60000;
	height: 100vh; width: 100vw; }
#two { padding-bottom: 33vh; }

video { padding-left: 15%; }

	/*
#four {background-color: white; }
#five {background-color:#f9e2a4; }
#six {background-color:#91b2d6; }
#seven {background-color:#9b476b; }
#eight {background-color:#62c9ef; }
#nine {background-color:#000034; color:white; line-height:1.5em;}
#ten {background-color:#CABFB6; }
*/




/*

@media handheld and (max-width:600px)
	{
	 img {max-width:100%;}
	 }
	 
	 


	 
@media screen and (max-width:600px)
	{
	 img {max-width:100%;}
	}



@media handheld and (max-width:300px)
	{
	 img {max-width:100%;}
	 }
	 
@media screen and (max-width:300px)
	{
	 img {max-width:100%;}
	 }


*/


